<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tony.gaodemap"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 允许程序改变Wi-Fi状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- APP_key 186e58f56d3edf88535a0257f12cfa64-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="186e58f56d3edf88535a0257f12cfa64"
        />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BasicMapActivity"/>
        <activity android:name=".activity.CustomLocationActivity"/>
        <activity android:name=".activity.ShowLocationInfoActivity"/>
        <activity android:name=".activity.WeatherSearchActivity"/>
        <activity android:name=".LocationActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="landscape"/>

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService">
        </service>
    </application>

</manifest>